:root {
  --darkOlive: #577b5c;
  --lightBlue: #E9F2F2;
  --lightYellow: #FDFDC2;
  --pink: #F98E8E;
  --salmon: #F9C3A0;
}

.julius-sans one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font: 18px 'Julius Sans One', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

header {
  background-color: var(--lightBlue);
  border-bottom: 2px solid var(--darkOlive);
  height: 120px;
  position: relative;
  width: 100%;
}

#logo {
  display: block;
  margin: auto auto;
}

h1 {
  color: red;
}

/********** Nav Bar - large screen **********/
#navbar {
  display: flex;
  flex-direction: row;
  font-family: 'Julius Sans One';
  justify-content: space-between;
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}

#navbar li {
  margin: 0 10px;
}

#userMenu {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

#menu {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

/********** end of nav **********/
/**********home page **********/
#info-container {
  display: flex;
  flex-direction: row;
}

#info-container div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 2rem;
}

#when {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  margin-left: 2rem;
}

#where {
  border-right: 2px solid #333;
  margin-right: 2rem;
}



table {
  border: #333 solid 1px;
  border-collapse: collapse;
  margin: 2rem;
  padding: .5rem;
  table-layout: fixed;
  width: 80%;
}

th {
  background-color: greenyellow;
  white-space: nowrap;
}

td {
  text-align: center;
}