:root {
  --darkOlive: #577b5c;
  --lightBlue: #E9F2F2;
  --lightYellow: #FDFDC2;
  --pink: #F98E8E;
  --salmon: #F9C3A0;
}

.julius-sans one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font: 18px 'Julius Sans One', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

header {
  background-color: var(--lightBlue);
  border-bottom: 2px solid var(--darkOlive);
  height: 120px;
  position: relative;
  width: 100%;
}

#logo {
  display: block;
  margin: auto auto;
}

h1 {
  color: red;
}

/********** Nav Bar - large screen **********/
#myLinks {
  display: flex;
  flex-direction: row;
  font-family: 'Julius Sans One';
  justify-content: space-between;
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}

#menu-trigger {
  display: none;
}

#myLinks li {
  margin: 0 10px;
}

#userMenu {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

#menu {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

/********** end of nav **********/
/**********home page **********/
#info-container {
  display: flex;
  flex-direction: row;
}

#info-container div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 2rem;
}

#when {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  margin-left: 2rem;
}

#where {
  border-right: 2px solid #333;
  margin-right: 2rem;
}



table {
  border: #333 solid 1px;
  border-collapse: collapse;
  margin: 2rem;
  padding: .5rem;
  table-layout: fixed;
  width: 80%;
}

th {
  background-color: greenyellow;
  white-space: nowrap;
}

td {
  text-align: center;
}

/********** media queries **********/
@media screen and (max-width: 870px) {
  body {
    background-color: red;
  }

  #menu {
    border-radius: 15px;
    box-shadow: 5px 5px 15px #000;
    display: flex;
    flex-direction: column;
    right: -400px;
    position: absolute;
    top: 0;
    transition: .5s ease-in-out;
    width: 400px;
    z-index: 100;
  }
  
  #menu-checkbox  {
/*     opacity: 0; */
    position: absolute;
  }
  
  #menu-trigger {
    background-color: #fff;
    border: 5px solid var(--darkOlive);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    left: 10px;
    order: 2;
    padding: 1rem;
    position: relative;
  } 
  
  #menu-checkbox:checked ~ #menu {
    right: 0;
  } 
  
  #menu-checkbox:checked + #menu-trigger {
    right: 400px;
  } 
  
  nav ul {
    background-color: #fff;
    border: 5px solid var(--darkOlive);
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 1rem; 
  }
  
  nav a {
    border-bottom: 1px solid #333;
    color: var(--drkBlue);
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    transition: .5s;
  }
  
  nav a:hover {
    background-color: rgba(125,253,80,.8);
    color: #000;
  }
    
}