html {
  font: 18px 'Julius Sans One', Helvetica, sans-serif;
}

h1 {
  color: red;
}

table {
  border: #333 solid 1px;
  border-collapse: collapse;
  margin: 2rem;
  padding: .5rem;
  table-layout: fixed;
  width: 80%;
}

th {
  background-color: greenyellow;
  white-space: nowrap;
}

td {
  text-align: center;
}